<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="index.css">
    <script src="index.js"></script>
</head>
<body style="background-color: black;">
   
    <div class="bg-animation">
        <div id="stars"></div>
        <div id="stars2"></div>
        <div id="stars3"></div>
        <div id="stars4"></div>
    </div>

    <div include-html="navbar.html"></div>

    <div class="logo">
        <img src="./images/home/astratextlogo.png" alt="Image not found">
    </div>


    <div class="homebox1">
          <h1>ENHANCE YOURSELF THROUGH ASTRA </h1>
            <p>Clever one deserve clever tools to grow </p>             
    </div>


    <div class="homebox2">
        <div>
            <h1>Boost your efficiency with our powers</h1>
            <p>Efficiency is key. Get the tools you need to succeed,
                 just like Batman needs his bat-tools to save Gotham City.
                Upgrade to the tools you deserve</p>
        
        </div>
        <img src="./images/home/homeimg1.webp" alt="">     
    </div>

    <div class="homebox3">
        <div >
            <img src="./images/home/homeimg2.webp" alt="">
            <h1>Courses</h1>
            <p>At Astra, we offer online courses for everyone who wants to build their career in software Technology . Enhance your skills, explore new fields, or advance your career with our flexible, expert-led programs. Join us today and start your journey to success!</p>
            <button>Explore New Batches</button>
        </div>
        <div>
            <img src="./images/home/homeimg3.webp" alt="">
            <h1>Services</h1>
            <p>At Astra, we specialize in propelling your business to new heights through cutting-edge digital solutions and innovative marketing strategies. Our comprehensive suite of services is designed to develop, enhance, and promote your brand in today’s competitive market.</p>
            <button>Explore Our Services</button>
        </div>
    </div>

    <script>
        includeHTML();
    </script>
</body>
</html>